name: CI
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Create APK
        run: |
          ./gradlew :app:assembleRelease
          mv app/build/outputs/apk/release/app-release.apk blank-app-${{ github.ref_name }}.apk

      - name: Create GitHub Release
        id: create_release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2
        with:
          files: blank-app-v*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
